<div id="modal" class="hide">
    <div class="add_production">
        <h1>Adicionar nova massa</h1>

        <form action="/" method="POST" onsubmit="return checkFields(event)">
            <div class="input-wrapper">
                <label for="number">Número da massa</label>
                <input type="number" name="number">
            </div>
            <div class="input-wrapper">
                <label for="type">Tipo da massa</label>
                <select name="type">
                    <option value="6h">6h</option>
                    <option value="6h 60g">6h 60g</option>
                    <option value="12h">12h</option>
                    <option value="12h 60g">12h 60g</option>
                    <option value="18h">18h</option>
                    <option value="Doce 12h">Doce 12h</option>
                    <option value="Doce 12h modelado">Doce 12h modelado</option>
                    <option value="Doce 6h 60g">Doce 6h 60g</option>
                    <option value="Doce 6h quadrado">Doce 6h quadrado</option>
                </select>
            </div>
            <div class="input-wrapper">
                <label for="name">Cilindro</label>
                <select name="name">
                    <option value="Artur">Artur</option>
                    <option value="Ernando">Ernando</option>
                    <option value="Fabio">Fabio</option>
                    <option value="Mateus">Mateus</option>
                    <option value="Waldson">Waldson</option>
                    <option value="Ricardo">Ricardo</option>
                </select>
            </div>
            <div class="input-wrapper">
                <label for="date">Data</label>
                <input type="text" name="date">
            </div>

            <a href="#">Voltar</a>

            <button>Salvar</button>
        </form>
    </div>
</div>