<div id="modal" class="hide">
    <div class="add_production">
        <h1>Adicionar nova massa</h1>

        <form action="/" method="POST" onsubmit="return checkFields(event)">
            <div class="input-wrapper">
                <label for="number">Número da massa</label>
                <input type="number" name="number">
            </div>
            <div class="input-wrapper">
                <label for="type">Tipo da massa</label>
                <input type="text" name="type">
            </div>
            <div class="input-wrapper">
                <label for="name">Cilindro</label>
                <input type="text" name="name">
            </div>
            <div class="input-wrapper">
                <label for="date">Data</label>
                <input type="text" name="date">
            </div>

            <a href="#">Voltar</a>

            <button>Salvar</button>
        </form>
    </div>
</div>